body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    background: linear-gradient(135deg, #000000, #4b0082);
    padding-bottom: 100px;
}

#footer{
    background-color: rgb(0, 0, 0);
    margin-top: 100px;
    color: white;
    display: flex;
    padding: 20px;
}

.card{
    width: 30%;
}

.card1{
    margin-left: 200px;
}

#connect_block{
    margin-top: 200px;
    width: 400px;
    margin-left: 150px;
    margin-right: 70px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

#con{
    margin-left:160px;
}

.a{
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 30px;
    width: 385px;
    padding: 5px;
}

#confirm{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 20px;
}

#create_campaign{
    height: 500px;
    width: 400px;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 50px;
    background:white ;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 
        3px 3px 5px rgba(0,0,0,0.4),   
        inset 2px 2px 5px rgba(0,0,0,0.3);
}

h1{
    font-size: 35px;
}

#camp{
    margin-left: 145px;
}

#head{
    margin-top: 60px;
    margin-left: 150px;
    color: white;
}

#btn_create_campaign{
    border-radius: 5px;
    height: 35px;
    width: 385px;
    border: 0px;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

#info{
    margin-top: 220px;
    font-size: 60px;
}

#info1{
    margin-top: 20px;
    font-size: 20px;
}

input{
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 35px;
    width: 380px;
}

#for_img{
    max-width: 500px;
    height: 500px;
}

img{
    width: 100%;
}

h3{
    margin: 0px;
}

#com{
    font-size: 13px;
    color: rgb(75, 75, 75);
} 

p{
    margin-top: 0%;
    margin-bottom: 20px;
}

#connect_wallet{
    border-radius: 5px;
    height: 35px;
    width: 385px;
    border: 0px;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

#campaigns_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  margin-top: 20px;
  padding: 30px;
}

.campaign_card {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cam{
    margin-left: 30px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}
